/* Index ------------------------------------------- 
   /* 1. Layout - Global Styles 	----------------------------------- */
   /* 2. Generic Template Styles 	----------------------------------- */
   /* 3. Carousel Styles 			----------------------------------- */
   /* 4. Home Styles 				----------------------------------- */
   /* 5. Your Stay Styles 			----------------------------------- */
   /* 6. Our Hotels Styles 			----------------------------------- */
   /* 7. Landing page styles 		----------------------------------- */
   /* 8. Listing styles 			----------------------------------- */
   /* 9. Room detail styles			----------------------------------- */
   /* 10. Hide Show Area styles 	----------------------------------- */
   /* 11. Promo ad styles 			----------------------------------- */
   /* 12. Sidebar listing 			----------------------------------- */
   /* 13. Activities styles 		----------------------------------- */
   /* 14. Sitemap styles 			----------------------------------- */
   /* 15. Gallery styles 			----------------------------------- */
   /* 16. FAQ styles 				----------------------------------- */
   /* 17. Booking form				----------------------------------- */
   /* 18. Conference facilities		----------------------------------- */
   /* 19. Room Plans				----------------------------------- */
   /* 20. Holding page 				----------------------------------- */
/*

/* 1. Layout - Global Styles ------------------------------------------- */
body, html {
	width:100%;
}

.wrapper{
	width:100%;
	position:relative;	
}

#header_content {
	width:980px;
	margin:6px auto 0 auto; 
	position:relative;
	z-index:601;
	overflow:hidden;
}

.header {
	width:100%;
	z-index:1200;
	position:relative;
}

.header logo{ 
	margin:25px 0 0 25px;
	float:left;
	}
	
.header .right {
	height:26px;
	float:right;
	margin:19px 10px 0 0;
}

.header ul, .header li { list-style: none; margin:0; padding:0;}

.header .right li {
	color:#8A8A8A;
	float:left;
	padding:0 8px;
	background:url(../images/static/top_right_nav_divider.gif) top right no-repeat;
	line-height:1.2em; 
	vertical-align:middle; 
}

.header .right li.language {
	position:relative;
	top:-3px;
}

.header .right li.language label {
	text-indent:-9000px;
	position:absolute;
}


.header .right li.language select { 
	color:#8A8A8A;
	background:transparent;
	margin-left:5px;
	text-transform:capitalize;
	}

.header .right li.last {
	background:none;
	height:20px;
}

.header .left {
	height:26px;
	float:left;
	margin:20px 0 7px 10px;
}

.header .logo {
	height:49px;
	margin:0 0 7px 10px;
}

.header ul.nav.left {
	/*margin:10px 0 0 14px;*/
}

.header .left li {
	color:#333333;
	float:left;
	margin:0 28px 0 0;
}
.ru_RU .topnav li {
margin-right:18px;
}
.it_IT .topnav li {
margin-right:22px;
}

.header_carousel {
	position:relative;
	z-index:400;
}

#subnav_wrapper {
	margin:0 auto;
	width:980px;
	z-index:999999;
	position:relative;
	overflow:visible;
}

.subnav {
	margin-top:60px;
	background:url(../images/static/subnav_bg.png) top left no-repeat;
	z-index:999999;
	width:130px;
	position:absolute;
	top:40px;
}
.subnav li {
	width:130px;
}
.subnav li a{
	display:block;
	height:15px;
	vertical-align:middle;
	padding:6px 13px 7px 13px;
}
	
.content { 
	width:100%; 
	padding:1px 0;
}

.header_image{
	position:relative;
	width:100%;
	z-index:400;
	min-height:492px;
}

.header_image.mini{
	position:relative;
	width:100%;
	z-index:400;
	min-height:300px;
}

.img_bg {
	width:100% !important;  
	height:561px !important; 
	float:left;
	background-color:none !important;
}

.carousel_images, .carousel_images ul {
	width:100% !important;
	position:absolute;
}

.carousel_images ul li{
	width:100% !important;
	background:transparent !important;
}

.page_container {
	position:relative;
	z-index:1000;
	width:100%;
	top:0 !important;
	margin:-72px 0 0;
}

#content404 .page_container {
	position:relative;
	margin:0 0 0 0;
	z-index:1000;
	width:100%;
	top:0 !important;	
}

#content404 .body {
	height: 400px;
}

#content404 .col_thick_top {
	background: url("../images/static/divider.gif") no-repeat scroll left bottom #FFFFFF;
	padding: 22px 12px 35px
}


#content404 .png_border {
    background: url("../images/static/border_overlay_png.png") repeat-y scroll center top transparent;
    height: 456px;
    left: 0;
    position: absolute;
    top: -13px;
    width: 100%;
    z-index: 1001;
/*     border:1px solid red; */
}



.png_border {
	background:transparent url(../images/static/border_overlay_png.png) top center no-repeat;
	position:absolute;
	top:-13px;
	left:0px;
	z-index:1001;
	height:381px;
	width:100%;
}

.home .png_border {
	top:-13px;
}

.body {
	width:953px !important;
	background:#FFF;
	padding:13px 13px 15px 13px;
	min-height:350px;
	position:relative;
	z-index:1002;
	margin:0 auto;
	overflow:hidden !important;
}

.internal_ads {
	padding:14px;
	width:951px;
	overflow:hidden;
	background:#FFF url(../images/static/divider.gif) top left no-repeat;
	position:relative;
	z-index:1003;
	margin:0 auto;
}

.hotels_container .internal_ads {
	z-index:600;
}

#internalAds404 {
	margin: 15px auto 50px;
    position: relative;
    top: -247px;;
    width: 980px;
    z-index: 1500;
}

#internalAds404 .internal_ads_footer {
/*     left: 235px; */
    list-style: none outside none;
/*     position: relative; */
/*     top: -240px; */
    width: 942px;
    z-index: 2000;
    padding:0;
    margin:0;
}

.internal_ads_footer {
	width:962px;
	float:left;
}

.internal_ads ul, .internal_ads li { list-style: none; margin:0; padding:0;}

.internal_ads li{
	float:left;
	width:314px;
	margin-right:5px;
}

.internal_ad_image {
	float:left;
	width:115px;
}

.internal_ad_text {
	float:left;
	width:179px;
	padding:10px;
}

.footer {
	background:url("../images/static/divider.gif") no-repeat 50% 0;
	padding:14px 0 0;
}

.wrapper_fotter{
	width:980px;
	margin:0 auto;
	padding:25px 0;
}

#footer404 .footer {
	top:-330px !important;
}

.footer .left {
	float:left;
	margin:20px 0 0 0;
	display:inline;
}

.footer ul, .footer li { list-style: none; margin:0; padding:0; float:left; }

.footer-facebook {
	float: right;
	height: 21px;
	background:url(../images/static/facebook_footer_logo.jpg) top left no-repeat;
    width: 200px;	
}



.footer-facebook a {  	
    color: #000000 !important;
    float: left;
    font-family: verdana;
    font-size: 11px;
    margin-left: 30px;
    margin-top: 2px;	    
}
.footer-social-links {
margin:0 10px 0 0;
float:right;
}
.footer-social-links a img {
margin-left:5px;
}

.footer_links_top {
	margin-left: 5px;	
}

.footer_links_top a { 
	font-family: verdana;
    font-size: 11px;		
}

.footer_links_top .first {
	margin-left:0px;
	margin-right:3px;	
}

.footer_links_top ul li {
	margin-left:3px;
	margin-right:3px;	
}

.footer_links_left a {
	font-family: arial;
}

.footer .footer-logos{
	width:100%;
	float:left;
	clear:left;
	padding:26px 6px 43px;
}

.footer .footer-logo{
	float:left;
	margin: 0 17px 0 0;
}

.footer .footer-seo-text{
	float:left;
	line-height: 16px;
    padding: 3px 4px 0;
}

.footer .footer_links_left {
	float:left;
	display:inline;
	width:auto;
/*	clear:both; */
}

.footer .footer_links_left .left li {
	float:left;
	display:inline;
	color:#999999;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .footer_links_right {
	float:right;
	display:inline;
	width:530px;
}

.footer .footer_links_right .right {
	float:right;
	display:inline;
	height:25px;
	margin-right:6px;
}

.footer .footer_links_right .right li {
	float:left;
	color:#666666;
	margin:0 10px 0 0;
}

.footer .footer_links_right .right.row2 {
	padding:0 0 20px;
	clear:right;
	height:5px;
	white-space:nowrap;
}

.footer .footer_links_right .right.row2 li {
	float:left;
	color:#666666;
	margin:0 10px 0 0;
}
	
/* 2. Generic Template Styles ------------------------------------------- */
.col_thick_left{
	float:left;
	width:606px;
	padding:22px 12px;
	background:url(../images/static/col_thick_left_bg.gif) top left no-repeat;
	margin-right:9px;
	min-height:80px;
}

.col_thick_left table td {
	vertical-align:top;
	line-height:1.8em;
	padding:0 10px 10px 0;
}

.col_thick_left table td img{
	clear:none;
	float:none;
	margin:0;
}

.col_thick_left img {
	float:left;
	clear:left;
	margin:0 20px 10px 0;
}

.col_thin_right {
	float:left;
	width:287px;
	background:url(../images/static/col_thin_right_bg.gif) top left no-repeat;
	min-height:100px;
	padding:0 12px 0px;
	overflow:hidden;
}

.col_thick_top {
	padding:22px 12px 0px;
}
/* 3. Carousel Styles ------------------------------------------- */

.header_carousel ul, .header_carousel ul li { list-style: none; margin:0; padding:0;}

.header_carousel ul .img_bg { 
	height:492px !important;
}

.header_carousel.mini ul .img_bg { 
	height:300px !important;
}

.header_carousel #carousel_nav_wrapper {
	width:980px;
	margin:0 auto;
	position:relative;
	z-index:1104;
}

/*Turns off carousel nav if js is disabled */
.carousel_nav { display:none; }
.js .carousel_nav { display:block; }

.header_carousel .carousel_nav {
	position:absolute;
	z-index:1104;
	top:180px;
	left:0px;
}

.header_carousel .carousel_nav li {
	float: left;
	margin-right:4px;
	background-color:#477796;
}

.header_carousel .carousel_nav li a{
	color:#FFF !important;
	padding:3px 0;
	text-align:center;
	width:19px;
	display:block;
}

.js .header_carousel .carousel_nav  li.active {
	background-color: #f9b200 !important;
}

/* 4. Home Styles ------------------------------------------- */
.header_image .home{
	position:relative;
	margin:0 auto;
	z-index:400;
}

.page_container.home{
	position:relative;
	z-index:1000;
}

.home .col_thin_left {
	float:left;
	width:285px;
	padding:22px 12px;
	background:url(../images/static/box_bg.gif) top left repeat-x;
	margin-right:9px;
}

.home .col_thick_right {
	float:left;
	width:610px;
	overflow:hidden;
	padding:22px 12px 5px;
	background:url(../images/static/box_bg.gif) top left repeat-x;
}

.col_thick_right ul, .col_thick_right li { list-style: none; margin:0; padding:0;}


.hotels_blurb li.active .overlay{
	display:none;
}

.hotels_blurb li.active .overlay{
	display:block;
}

.home .hotels_blurb dd img {
	width:151px;
	height:134px;
}

.col_thick_right .strapline {
	margin-top: 10px;
	position:relative;
	*float:left;
}

.strapline span{
	position:relative;
	top:1px;
	*top:0;
}

.hotels_blurb li{
	float:left;
	width:150px;
	overflow:hidden;
	margin-right:2px;
	position:relative;
}
#blurb_4 {
	overflow:visible;
}
#blurb_4 h3 {
	width:160px;
}

.hotels_blurb li dl {
	position:relative;
	padding-top:34px;
}

.hotels_blurb li dd {
	position:relative;
}

.hotels_blurb li dd a .overlay{
	width:150px; 
	height:134px; 
	position:absolute; 
	top:0px;
	background:#CCC; 
	z-index:150;
	/*background:url(/images/static/home_overlay.png) top left no-repeat;*/
	display:block;
	opacity:0.6;
	filter:alpha(opacity=60);
}

.hotels_blurb dt { 
	margin: 0 0 12px 0; 
	}

/* 5. Your Stay Styles ------------------------------------------- */
.col_wide_bottom {
	float:left;
	width:100%;
	padding:22px 0 22px 10px;
}

.yourstay li {
	float:left;
	width:298px;
	margin:0 11px 15px 0 !important;
}

.yourstay .img {
	width:298px;
	height:162px;
	padding-bottom:15px;
}

/* 6. Our Hotels Styles ------------------------------------------- */
.header #hotels_nav_container {
	width:100%;
	/*background:transparent url(/images/static/subnav_overlay.png) no-repeat scroll center 8px;*/
	height:42px;
	position:absolute;
	z-index:1200;
	top:98px;
	*top:104px;
	left:0;
	background:tranparent;
}

.header #hotels_nav_bg {
	background:url(../images/static/hotels_nav_bg.png) top center no-repeat;
	width:100%;
	height:43px;
	display:block;
	position:absolute;
	top:0;
	z-index:400;
}

.header .hotels {
	position:absolute;
	top:-2px;
	padding:8px 0 12px 0;
	height:14px;
	width:100%;
	z-index:601;
	margin:10px 0 0 0 !important;
	/*opacity:0.60;
	filter:alpha(opacity=60);*/
}

.header .hotels .first {
	margin-left:10px !important;
}

.header .hotels_nav_wrapper {
	background:transparent url(../images/static/topnav_3rdlevel_arrow.gif) no-repeat scroll 125px 1px;
	padding-top:8px;
	position:relative;
	margin: 0 auto;
	width:980px;
	z-index:500;
	height:60px;
}
.nav.our_hotels {
	width:940px;
}

.nav.our_hotels li img {
	width:231px;
	height:143px;
	overflow:hidden;
	display:block;
	margin-bottom:10px;
}

.nav.our_hotels li{
	float:left;
	width:231px;
	margin:0px 3px 0 0 !important;
	padding-bottom:15px;
}

.map_tagline {
	margin-left:15px;
}

/* 7. Landing page styles ------------------------------------------- */
.information {
	float:left;
	background:url(../images/static/gradient_smallbox_bg.gif) top left no-repeat;
	width:272px;
	padding:22px;
	margin-left:-12px;
}	

.information dl{
	width:272px;
	float:left;
}	

.information dt{
	width:105px;
	float:left;
	border-bottom:1px solid #CCC;
	padding:8px 0 5px;
	color:#2B6082;
	font-weight:bold;
	height:18px;
}

.information dd{
	width:162px;
	float:left;
	border-bottom:1px solid #CCC;
	padding:8px 0 5px 5px;
	height:18px;
}

.landing_page {
	width:606px;
	float:left;
	padding-top:20px !important;
}

.landing_page li{
	clear:both;
	width:606px;
	float:left;
	padding-bottom:33px !important;
}

.landing_page .landing_img {
	float:left;
	width:232px;
	height:128px;
}

.landing_page .landing_desc {
	float:right;
	width:314px;
	padding:10px 30px;
}
.landing_page .landing_desc h3 {
	font-size: 1.3em;
	font-weight: bold;
}
.landing_page .landing_desc p {
	font-size: 0.9em;
}
.landing_page .landing_desc span.button {
	font-size: 0.8em;
}

/* 8. Listing styles ------------------------------------------- */
.listing {
	width:935px;
	margin:13px 0 30px 0!important;
	float:left;
	padding:0;
	overflow:hidden;
}

.listing li{
	background:url(../images/static/activities_bg.gif) top right no-repeat;
	width:935px;
	margin-bottom:10px !important;
	clear:both;
	float:left;
	list-style:none;
	min-height:150px;
	padding:5px 0 0 5px !important;
}

.listing .listing_image {
	width:232px;
	float:left;
}

.listing .listing_content {
	float:left;
	width:658px;
	padding:10px 13px 10px 30px;
}

.listing .extra.button {
	float:left;
	width:300px;
	padding-right:30px;
}

.listing .menu {
	float:left;
	padding:10px 15px 10px 25px;
	background:#FFF url(../images/static/icon_menu.gif) 10px center no-repeat;
	overflow:hidden;
}

.listing .brochure, .download {
	padding-left: 20px;  
	background: transparent url(../images/static/pdf_icon.gif) no-repeat top left !important;
	line-height:1.5em;
}

.listing dl{
	width:150px;
	float:left;
	margin:0 6px 0 0;
	padding-bottom:10px;
}

.listing.shared dl{
	padding-bottom:0;
	margin:0 6px 7px 0;
}

.listing dt{
	color:#2B6082;
	font-weight:bold;
	line-height:1.5em;
}

.listing dd {
	margin:0 0 6px 0;
	line-height:1.5em;
}

.listing .more_info {
	width:312px;
	float:left;
}

.listing .more_info .more_info_col_1 {
	width:160px;
	float:left;
}

.listing .more_info .more_info_col_2 {
	width:150px;
	float:right;
	overflow:hidden;
}

.listing .more_info p{
	margin:0;
}

.listing .more_info .vegetarian {
	float:left;
	background:url(../images/static/icon_vegeterian.gif) left center no-repeat;
	padding:3px 18px; 
	line-height:1.5em;
	margin:8px 3px;
}

.listing .more_info .dine_around {
	float:left;
	background:url(../images/static/icon_dine.gif) left center no-repeat;
	padding:3px 18px;
	line-height:1.5em;
	margin:0 3px 8px 3px;
}

.listing .more_info .healthy {
  float:left;
  background:url(../images/static/icon_healthy.gif) left center no-repeat;
  padding:3px 18px;
  line-height:1.5em;
  margin:0 3px 8px 3px;
}

.listing .pagination {
	width:953px;
	padding-bottom:40px;
}
.listing .pagination a.selected{
	font-weight:bold;
}
.listing .pagination ul{
	float:right;
	margin-right:18px;
}

.listing .pagination ul li{
	float:left;
	background:url(../images/static/divider_pagination.gif) center left no-repeat;
	padding:5px 10px !important;
	clear:none;
	min-height:0;
	width:auto;
}

/* 9. Room detail styles ------------------------------------------- */
.rooms .listing {
	width:100%;
	background:none; !important;
	margin-bottom:0 !important;
	padding-bottom:10px;
	*padding-bottom:20px; /* IE6 & 7 */
}

.rooms .listing li {
	float:left;
	width:280px;
	margin-right:17px !important;
	background:none; !important;
	clear:none;
	min-height:70px;
}

.rooms .listing .listing_image {
	float:left;
	width:90px;
	height:72px;
	overflow:hidden;
	margin:0!important;
	background:#FFF;
}

.rooms .listing .listing_content {
	float:right;
	width:136px;
	padding:0 22px;
	margin-top:0!important;
}

.rooms .listing .listing_content h4 a {
	color:#2B6082 !important;
	*font-size:0.7em !important;
}

.rooms .room_images {
	float:left;
	width:970px;
	background:#FFF;
	padding:13px;
}

.rooms .room_images li{
	float:left;
	width:181px;
	margin-right:7px;
}

.rooms .hotel_desc {
	float:left;
	width:250px;
	padding:0 25px 15px 15px;
}

.rooms .hotel_desc>img {
	margin-left: 9px;
}

.rooms .hotel_features{
	float:right;
	width:663px;
	padding-bottom:22px;
}

.rooms .room_features {
	float:left;
	width:190px;
	margin-right:30px;
}

.rooms .room_features dt{
	float:left;
	width:152px;
	padding:7px 0 5px 2px;
	border-bottom:1px solid #CCC;
	font-weight:bold;
}

.rooms .room_features dd{
	float:left;
	width:26px;
	height:17px;
	padding:7px 0 5px 2px;
	border-bottom:1px solid #CCC;
}

.rooms .room_features ul {
	float:left;
	width:190px;
	margin-right:30px;
}

.rooms .room_features li {
	float:left;
	width:186px;
	padding:5px 4px;
	border-bottom:1px solid #CCC;
	line-height:1.8em;
	vertical-align:middle;
}

.rooms .room_features li .floatleft{
	width:152px;
}

.rooms .room_features li .floatright img{
	padding-top:4px;
}

.rooms h2 {
	clear:both;
	padding:0 15px;
}

.rooms .carousel_nav {
	position:relative;
}

.rooms .carousel_nav .overlay{
	width:181px; 
	height:125px; 
	position:absolute; 
	top:0px;
	background:#CCC; 
	z-index:150;
	display:block;
	opacity:0.75;
	filter:alpha(opacity=75);
	top:13px;
	cursor:pointer;
}

.rooms .carousel_nav .active .overlay{
	display:none;
}



/* 10. Hide Show Area styles ------------------------------------------- */
.show_hide_area {
	background:#f0f0f0 url(../images/static/room_detail_gradient_bg.gif) top left repeat-x;
	width:914px;
	padding:14px 8px 3px 13px;
	position:relative;
	margin:-22px 0 15px -2px;
	overflow:hidden;
	float:left;
}

.show_hide_area h1{
	width:530px;
	margin-bottom:0!important;
}

.show_hide_area h2 { margin:0; }

.show_hide_area.shared {
	margin:0px 0 15px 0px;
	padding:13px 8px 3px 13px;
}

#switch_area {
	width:907px;
	padding:0 20px 0 20px;
}

#btn_switch {
	clear:right;
	float:right;
	display:none;
	position:relative;
	width:350px;
	height:35px;
	margin:-4px 5px 0 0;
}

#btn_switch .btn_round_yellow{
	position:absolute;
	top:0;
	right:0;
}

#switch_arrow {
	float:left;
	padding:1px;
	position:relative;
	width:15px;
}

.arrow, .arrow.up {
	background:url(../images/static/show_hide_triangle_up.gif) scroll center left no-repeat;
	width:10px;
	height:20px;
	float:left;
	padding:0 5px 0 0;
	position:absolute;
}

.arrow.down {
	background:url(../images/static/show_hide_triangle_down.gif) scroll center left no-repeat;
}

/* 11. Promo ad styles 			----------------------------------- */
.promo_ad {
	float:left;
	width:287px;
	padding:22px 0 10px 0;
}

.promo_ad .promo_ad_text {
	float:left;
	width:160px;
	padding-right:12px;
}

.promo_ad .promo_ad {
	float:right;
	width:115px;
}

/* 12. Sidebar listing 			----------------------------------- */
.sidebar_listing {
	float:left;
	width:287px;
	padding-bottom:15px;
	padding-top:22px;
}

.sidebar_listing ul {
	padding:0;
	margin:0;
}

.sidebar_listing li {
	border-bottom:1px solid #CCC;
	margin:0;
	height:15px;
	padding:7px 2px !important;
	list-style-position:inside;
}

/* 13. Activities styles 		----------------------------------- */
#switch_area .items {
	float:left;
	margin:20px 0 0 0;
	padding-bottom:20px;
}

#switch_area .items.last_item {
	width:453px;
}

#switch_area .items h4 {
	color:#2B6082;
	font-weight:bold;
}

#switch_area .items .other_listing {
	float:left;
	width:220px;
	list-style: none; 
	margin:0; 
	padding:0;
}
#switch_area .items .other_listing li{
	border-bottom:1px solid #CCC;
	list-style: none;
	padding:7px 2px;
	width:180px;
	margin-right:40px
}
/* 14. Sitemap styles 		----------------------------------- */
.sitemap {
	width:100%;
	list-style-position:inside;
	margin:0;
	padding:0;
	padding:6px 5px;
}

.sitemap li{
	padding:6px 0;
	font-weight:bold;
}

.sitemap ul{
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
}

.sitemap ul li{
	color:#666;
	font-weight:normal;
}

/* 15. Gallery styles 		----------------------------------- */
.gallery_wrapper {
	width:953px;
	overflow:hidden;
}

.gallery {
	width:953px;
	margin-top:22px !important;
}

.gallery li{
	float:left;
	width:219px;
	margin-right:18px !important;
	padding-bottom:30px !important;
	height:200px;
	overflow:hidden;
}

.gallery li .title{
	float:left;
	clear:both;
	margin-top:15px;
}

.gallery_wrapper .pagination {
	width:953px;
	padding-bottom:40px;
}
.gallery_wrapper .pagination a.selected{
	font-weight:bold;
}
.gallery_wrapper .pagination ul{
	float:right;
	margin-right:18px;
}

.gallery_wrapper .pagination ul li{
	float:left;
	background:url(../images/static/divider_pagination.gif) center left no-repeat;
	padding:5px 10px;
}

.news_wrapper {
  width:953px;
  overflow:hidden;
}

.news {
  width:953px;
  margin-top:22px !important;
}

.news li{
  float:left;
  width:169px;
  margin-right:18px !important;
  padding-bottom:30px !important;
  height:250px;
  overflow:hidden;
}

.news li .title{
  float:left;
  clear:both;
  margin-top:15px;
}

.news_wrapper .pagination {
  width:953px;
  padding-bottom:40px;
}

.news_wrapper .pagination a.selected{
  font-weight:bold;
}

.news_wrapper .pagination ul{
  float:right;
  margin-right:18px;
}

.news_wrapper .pagination ul li{
  float:left;
  background:url(../images/static/divider_pagination.gif) center left no-repeat;
  padding:5px 10px;
}

/* 16. FAQ styles 				----------------------------------- */
.faq_listing {
	padding-top:25px;
}
.faqs {
	background:#fff url(../images/static/faq_divider.gif) top left no-repeat;
	margin:0 0 25px 0;
	padding:15px 0 0 0;
}

.faqs h4{
	font-size:1.4em;
	font-weight:bold;
}

/* 17. Booking form				----------------------------------- */
#booking_content {
	margin:0 auto;
	width:980px;
	position:relative;
	top:-40px;
	z-index:1205;
}

#booking_hotel {
	position:absolute;
	z-index:800;
	width:200px;
	left:762px;
}

.en_GB #booking_hotel {
  left:576px !important;
}
.fr_FR #booking_hotel {
  left:625px !important;
}
.de_DE #booking_hotel {
  left:615px !important;
}
.it_IT #booking_hotel {
  left:565px !important;
}

#booking_package {
  position:absolute;
  z-index:800;
  width:200px;
  left:762px;
}

#booking_button_hotel, #booking_button_package2 {
	cursor:pointer;
}

#booking_button_hotel.round, #booking_button_package2.round {
	float:right;
	background:url(../images/static/input-bg.gif) no-repeat 0 0;
	padding:0 0 0 5px;
	height:29px;
	display:inline;
	margin-left: 7px;
}

#booking_button_hotel.round input, #booking_button_package2.round input {
	background:transparent url(../images/static/arrow_down.gif) scroll 100% 50% no-repeat;
	padding:0 10px 0 15px;
	margin-top:4px;
	float:left;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	*padding:0 0 0 10px!important;/*IE6&7*/
	*margin-top:2px!important;/*IE6&7*/;
	display:block;
	position:relative;
}
#booking_button_package2.round a {
	background:transparent url(../images/static/arrow_down.gif) scroll 100% 50% no-repeat;
	padding:0 10px 0 15px;
	margin-top:4px;
	float:left;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	*padding:0 0 0 10px!important;/*IE6&7*/
	*margin-top:2px!important;/*IE6&7*/;
	display:block;
	position:relative;
font-size: 1.2em;
line-height: 1.5em;
vertical-align: middle;
}

#booking_button_hotel.round span, #booking_button_package2.round span {
	background:url(../images/static/input-bg.gif) no-repeat 100% 0;
	padding:0 25px 0 0px;
	height:29px;
	display:inline;
	float:left;
}

#booking_hotel .rollover, #booking_package .rollover {
	background-position:bottom left !important;
}

#booking_hotel .rollover span, #booking_package .rollover span {
	background-position:bottom right !important;
}

#booking_button_hotel.round input:focus, #booking_button_package2.round input:focus {
	outline:none;
	color:#FFF;
}

#booking_form_package {
	width:180px;
	background:#ebebeb;
	padding:0px 28px 20px 28px;
	clear:both;
	*padding:0px 28px 20px 20px;
	*overflow:hidden;
}

#booking_form_hotel {
  width:180px;
  background:#ebebeb;
  padding:0px 28px 20px 28px;
  clear:both;
  *padding:0px 28px 20px 20px;
  *overflow:hidden;
}

#booking_form_hotel .row, #booking_form_package .row {
	margin-top:20px;
	float:left;
}

#booking_form_hotel .row_half, #booking_form_package .row_half {
	margin-top:20px;
	float:left;
	width:75px;
	overflow:hidden;
	min-height:60px;
}

.row_half_60 {
	display: none;
	width:60px !important;
}

.child_wrap {
	width: 100%; 
	clear: both;
}



#booking_form_hotel label, #booking_form_package label {
	font-weight:bold;
	color:#999999;
	width:164px;
	float:left;
}

#booking_form_hotel .frm_dropdown, #booking_form_package .frm_dropdown {
	background:#FFF;
	border:none;
	width:168px;
	color:#666666;
	margin-top:10px;
}

#booking_form_hotel .frm_dropdown_sml, #booking_form_package .frm_dropdown_sml {
	background:#FFF;
	border:none;
	width:43px;
	color:#666666;
	margin:10px 0 0 0;
}

#booking_form_hotel #hotel_booking_chInD_month, #booking_form_hotel #hotel_booking_chOuD_month,
#booking_form_package #package_booking_datein_month, #booking_form_package #package_booking_dateout_month {
	width:50px;
	margin-right:3px;
}

#booking_form_hotel #hotel_booking_chInD_day, #booking_form_hotel #hotel_booking_chOuD_day,
#booking_form_package #package_booking_datein_day, #booking_form_package #package_booking_dateout_day {
	margin-right:3px;
}

#booking_form_hotel #hotel_booking_chInD_year, #booking_form_hotel #hotel_booking_chOuD_year,
#booking_form_package #package_booking_datein_year, #booking_form_package #package_booking_dateout_year {
	width:55px;
}

#booking_hotel .round_yellow, #booking_package .round_yellow {
	float:right;
	background:url(../images/static/input_yellow-bg.gif) no-repeat 0 0;
	padding:0 0 0 10px;
	height:29px;
	display:inline;
	margin-top:20px;
	clear:both;
}

.language #language_btn input{
	color:#F9B200;
	background:url(../images/static/arrow_yellow.gif) right 2px no-repeat;
	*background:url(../images/static/arrow_yellow.gif) right 5px no-repeat;
	padding-right:12px;
	*padding-right:0px !important;
	font-weight:bold;
	cursor:pointer;
}

#booking_hotel .round_yellow input, #booking_package .round_yellow input {
	padding:5px 10px 5px 15px;
	float:left;
	height:29px;
	color:#FFF;
	cursor:pointer;
	*padding:0 !important;/*IE6&7*/
	font-weight:bold;
}

#booking_hotel .round_yellow span, #booking_package .round_yellow span {
	background:url(../images/static/input_yellow-bg.gif) no-repeat 100% 0;
	padding:0 15px 0 0px;
	height:29px;
	float:left;
}

#booking_hotel .round_yellow input:focus, #booking_package .round_yellow input:focus {
	outline:none;
	color:#FFF;
}

#booking_hotel .error label, #booking_package .error label {
	color:red;
}

#booking_hotel .error .error_list, #booking_package .error .error_list {
	margin-top:10px;
	color:red;
}

#booking_hotel .error #booking_package_HotelID, #booking_package .error #booking_package_Hotel {
	border:1px solid red;
}

/* language tweak german */
.de_DE #booking_button_hotel.round span {
	padding:0 15px 0 0;
}
.de_DE #booking_button_hotel.round input {
	padding:0 10px 0 0 !important;
	width:130px;
	position:relative;
}
.de_DE #booking_hotel .round_yellow {
	padding:0 0 0 4px !important;
}
.de_DE #booking_hotel .round_yellow span {
	padding:0!important;
}
.de_DE #booking_hotel .round_yellow input {
	width:180px;
	padding:0!important;
}
/* language tweak russian */
.ru_RU #booking_button_hotel.round span {
	padding:0 15px 0 0;
}
.ru_RU #booking_button_hotel.round input {
	padding:0 10px 0 0 !important;
	width:150px;
	position:relative;
}
.ru_RU #booking_hotel .round_yellow {
	padding:0 0 0 4px !important;
}
.ru_RU #booking_hotel .round_yellow span {
	padding:0!important;
}
.ru_RU #booking_hotel .round_yellow input {
	width:178px;
	padding:0!important;
}

.ru_RU #booking_hotel fieldset.book_items {
	width:180px;
	float:right;
}
.ru_RU #booking_hotel {
	left:618px;
	width:160px;
}
.ru_RU #booking_form_hotel {
	width:180px;
}

/* language tweak italian */

.it_IT #booking_hotel .round_yellow {
	padding:0 0 0 4px !important;
}
.it_IT #booking_hotel .round_yellow span {
	padding:0!important;
}
.it_IT #booking_hotel .round_yellow input {
	width:178px;
	padding:0!important;
}

/*Check availability button - Campaign pages ---------------*/

#check_availability_button {
	cursor:pointer;
}

#check_availability_button.round {
	float:right;
	background:url(../images/static/input-bg.gif) no-repeat 0 0;
	padding:0 0 0 5px;
	height:29px;
	display:inline;
	margin-left: 7px;
}

#check_availability_button.round input {
	background:transparent url(../images/static/arrow_down.gif) scroll 100% 50% no-repeat;
	padding:0 10px 0 15px;
	margin-top:4px;
	float:left;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	*padding:0 0 0 10px!important;/*IE6&7*/
	*margin-top:2px!important;/*IE6&7*/;
	display:block;
	position:relative;
}
#check_availability_button.round a {
	padding:0 20px 0 15px;
	margin-top:4px;
	float:left;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	*padding:0 0 0 10px!important;/*IE6&7*/
	*margin-top:2px!important;/*IE6&7*/;
	display:block;
	position:relative;
font-size: 1.2em;
line-height: 1.5em;
vertical-align: middle;
}

#check_availability_button.round span {
	background:url(../images/static/input-bg.gif) no-repeat 100% 0;
	padding:0;
	height:29px;
	display:inline;
	float:left;
}


/* 18. Conference facilities		----------------------------------- */
.meeting_rooms {
	float:left;
	margin:0 0 0 0;
	padding-bottom:20px;
	width:460px;
}

#meeting_rooms.last_item {
}

.meeting_rooms h4 {
	color:#2B6082;
	font-weight:bold;
}

.meeting_rooms .other_listing {
	float:left;
	width:220px;
	list-style: none; 
	margin:0; 
	padding:0;
	overflow:visible;
}
.meeting_rooms .other_listing li{
	border-bottom:1px solid #CCC;
	list-style: none;
	padding:7px 2px;
	width:200px;
	margin-right:10px;
	background:none;
	min-height:15px;
}

.meeting_rooms .other_listing a:link, .meeting_rooms .other_listing a:visited {
	color:#2B6082 !important;
}
.meeting_rooms .other_listing a:hover, .meeting_rooms .other_listing a:active,  .meeting_rooms .other_listing a:focus {
	text-decoration:underline;
	}

/* 19. Room Plans					----------------------------------- */
#switch_area .meeting_rooms {
	margin:20px 0 0 0;
}

/* 20. Holding page 				----------------------------------- */
.holding .footer {
	padding-bottom:25px;
	margin-top:0;
}

.holding .internal_ads {
	padding:0;
}

.holding #header_content {
	padding-bottom:10px;
}

.holding .col_thick_top {
	width:600px;
}

/* Clears >> ================================================================================ */

.wrapper_fotter:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }


/* IE7 */

.wrapper_fotter { zoom:1; }


/* << Clears ================================================================================ */
