@charset "utf-8";
/* CSS Document */
body {
font-size:11px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#999999;
line-height:1.5em;
vertical-align:middle;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0 !important;
    visibility: hidden;
}
fieldset {
background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-family: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
label {
font-size:11px;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    vertical-align: middle;
}
#Room1PH label, #Room2PH label, #Room3PH label {
border-bottom:1px solid #ddd;
}
#Room1PH .row_40 label, #Room2PH .row_40 label, #Room3PH .row_40 label {
font-size:10px;
font-weight:normal;
border:none;
}

#booking_form_package {
	width:566px;
	background:#ebebeb;
	padding:0px 20px 20px 20px;
	clear:both;
	*padding:0px 20px 20px 20px;
	*overflow:hidden;
}
#booking_form_package .fullrow {
width:283px;
height:285px;
	margin-top:10px;
	float:left;
}
#booking_form_package .row {
width:283px;
	margin-top:15px;
	float:left;
}
#booking_form_package .row_half {
	margin-top:10px;
	float:left;
	width:125px;
	overflow:hidden;
}

.row_half_60 {
	display: none;
	width:60px !important;
}
.row_40 {
width:47px;
margin-right:0px;
float:left;
}

.child_wrap {
	width: 100%; 
	clear: both;
}



#booking_form_hotel label, #booking_form_package label {
	font-weight:bold;
	color:#999999;
	width:283px;
	float:left;
}

#booking_form_package .frm_dropdown {
	background:#FFF;
	border:none;
	width:168px;
	color:#666666;
	margin-top:5px;
}

#booking_form_package .frm_dropdown_sml {
	background:#FFF;
	border:none;
	width:39px;
	color:#666666;
	margin:5px 0 0 0;
}
#booking_form_package .frm_dropdown_xsml {
	background:#FFF;
	border:none;
	width:39px;
	color:#666666;
	margin:5px 0 0 0;
}

#booking_form_hotel #hotel_booking_chInD_month, #booking_form_hotel #hotel_booking_chOuD_month,
#booking_form_package #package_booking_datein_month, #booking_form_package #package_booking_dateout_month {
	width:50px;
	margin-right:3px;
}

#booking_form_hotel #hotel_booking_chInD_day, #booking_form_hotel #hotel_booking_chOuD_day,
#booking_form_package #package_booking_datein_day, #booking_form_package #package_booking_dateout_day {
	margin-right:3px;
}

#booking_form_hotel #hotel_booking_chInD_year, #booking_form_hotel #hotel_booking_chOuD_year,
#booking_form_package #package_booking_datein_year, #booking_form_package #package_booking_dateout_year {
	width:52px;
}
#booking_package .round_yellow {
	float:right;
	background:url(../images/input_yellow-bg.gif) no-repeat 0 0;
	padding:0 0 0 10px;
	height:29px;
	display:inline;
	margin-top:20px;
	clear:both;
}

.language #language_btn input{
	color:#F9B200;
	background:url(https://www.sani-resort.com/hotel-package/images/arrow_yellow.gif) right 2px no-repeat;
	*background:url(https://www.sani-resort.com/hotel-package/images/arrow_yellow.gif) right 5px no-repeat;
	padding-right:12px;
	*padding-right:0px !important;
	font-weight:bold;
	cursor:pointer;
}

#booking_package .round_yellow input {
background:none repeat scroll 0 0 transparent;
border:0;
	padding:5px 10px 5px 15px;
	float:left;
	height:29px;
	color:#FFF;
	cursor:pointer;
	*padding:0 !important;/*IE6&7*/
	font-weight:bold;
}

#booking_package .round_yellow span {
	background: url(../images/input_yellow-bg.gif) no-repeat 100% 0;
	padding:0 15px 0 0px;
	height:29px;
	float:left;
}

#booking_package .round_yellow input:focus {
	outline:none;
	color:#FFF;
}

#booking_package .error label {
	color:red;
}

#booking_package .error .error_list {
	margin-top:10px;
	color:red;
}

#booking_package .error #booking_package_Hotel {
	border:1px solid red;
}

